/* index scss */

@import 'mixin/reset';
@import 'mixin/mediaQuery';

@import 'fa/fa';

@import 'layout/grid';

.container {
  max-width: 80%;
  margin: auto;
}

.big-heading {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 35px;
  color: #336699;
  margin-top: 50px;
  display: block;
}

.heading {
  font-family: Tahoma;
  font-weight: bold;
  font-size: larger;
  color: #336699;
  margin-top: 40px;
  display: block;
}

.product-selection {
  color: #CC00FF;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #f40399;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}