/* index scss */

@import 'mixin/reset';
@import 'mixin/mediaQuery';
@import 'mixin/font';

@import 'fa/fa';

@import 'layout/grid';
@import 'layout/modal';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
	@include fontTitle;
	@include fontBold;
}

h2 {
	@include fontSection;
	margin-top: 30px;
}

h3 {
	@include fontHeadline;
}

.text-center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.layoutBoundary {
	margin: 0 auto;

	@include screen-md-down {
		padding: 0 10px;
		width: 100%;
	}

	@include screen-lg {
		padding: 0 20px;
		min-width: 1000px;
		max-width: 1400px;
	}
}

:root {
	--base-color: rgb(51, 102, 153);
	--base-font-color: #FFFFFF;
	--text-color: var(--base-color);
	--background-color: #FAFAFA;
	--modal-border: #DEE2E6;
	font-family: 'Roboto', sans-serif;

}

.dark {
	--base-color: rgb(28, 51, 74);
	--base-font-color: #D2D2D2;
	--text-color: #D2D2D2;
	--background-color: rgb(20, 31, 43);
	--modal-border: rgb(53, 73, 94);
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

.container {
	margin-top: 20px;
}

.menuBackground {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--base-color);
	height: 80px;
	color: var(--base-font-color);
	text-align: center;

	.layoutBoundary {
		height: 100%;
		margin: 0 auto;

		@include screen-xs {
			padding: 0 10px;
			width: 100%;
		}

		@include screen-lg {
			padding: 0 20px;
			min-width: 400px;
			max-width: 400px;
		}
	}

	ul {
		@include inlineList;

		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;

		li {
			width: 50px;

			a {
				color: var(--base-font-color);
				text-align: center;
			}
		}
	}
}

.locale-changer > img {
	vertical-align: middle;
}

.product-item {
	background-color: var(--base-color);
	border: 2px solid var(--base-color);
	margin: 10px;
	padding: 10px;
	color: var(--base-font-color);
	transition: all 0.5s;

	&.selected {
		background-color: var(--base-font-color);
		border: solid 2px var(--base-color);
		color: var(--base-color);
		transition: background-color 0.5s;
	}
}

.result {
	background: var(--base-color);
	color: var(--base-font-color);
	margin-top: 15px;
	padding: 10px;
	position: relative;

	a {
		color: var(--base-font-color);
		@include fontBold
	}

	address {
		margin-top: 10px;
	}

	.result-favorite {
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);

		&.starred {
			color: orange !important;
		}

		color: var(--base-font-color);
	}
}

.market-info {
	width: 100%;
	margin-bottom: 40px;
}

#market-detail {
	text-align: right;
	line-height: 180%;
}

.button-box {
	text-align: center;
	margin-top: 40px;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: var(--base-color);
	border: 2px solid var(--base-color);
	color: var(--base-font-color);
	text-align: center;
	font-size: 20px;
	padding: 10px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

	&:hover {
		background-color: var(--base-font-color);
		border: solid 2px var(--base-color);
		color: var(--base-color);
		transition: background-color 0.5s;
	}
}